<% layout("/layouts/boilerplate") %>


<body>
  <div class="row mt-3">
    <div class="col-8 offset-3">
      <h3> <%= listing.title %></h3>
    </div>
    <div class="card col-6 offset-3 show-card listing-card">
      <img src="<%= listing.image.url %>" class="card-img-top show-image" alt="listing_image">
      <div class="card-body">
        <p class="card-text">Owner by <b>@<i><%=listing.owner.username %></i></b></p>
        <!-- <%= listing.title %> -->
        <p class="card-text"> <%= listing.description %> <br></p>
        <p class="card-text"><b>&#8377;</b> <%= listing.price %> <br></p>
        <p class="card-text"><%= listing.location %> <br></p>
        <p class="card-text"><%= listing.country %></p>
        </p>
      </div>
    </div>
  </div>
  <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
  <div class="btns">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>

    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
      <button class="btn btn-dark offset-5">Delete</button>
    </form>
  </div>
  <% } %>
  <hr>
  <div class="col-8 offset-3 mb-3">
    <% if(currUser) {%>
    <h4>Leave a review </h4>
    <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
      <!-- <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="range" min="1" max="5" id="rating" name="reviews[rating]" class="form-range">
      </div> -->
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <fieldset class="starability-slot">
          <input type="radio" id="no-rate" class="input-no-rate" name="reviews[rating]" value="1" checked aria-label="No rating." />
          <input type="radio" id="first-rate1" name="reviews[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="reviews[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="reviews[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="reviews[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="reviews[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>

      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea name="reviews[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
        <div class="invalid-feedback">
          Please add submit some comments for review
        </div>
      </div>
      <button class="btn btn-outline-dark">Submit</button>
    </form>
    <% } %>
    <hr>
  <!-- </div> -->
  <% if(listing.reviews.length > 0) { %>
  <div class="col-8 offset-0">
    <div class="row">
      <h4>All Reviews</h4>
      <% for(review of listing.reviews) { %>
      <div class="card col-5 ms-3 mb-3 mt-3">
        <div class="card-body ">
          <h5 class="card-title">@<%= review.author.username %></h5>
          <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
          <p class="card-text  "><%= review.comment %></p>
          <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" class="mb-3" method="POST">
            <button class="btn btn-sm btn-dark">Delete</button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
</body>

